{% load i18n staticfiles %}

{% if user.is_authenticated %}
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-logo"></div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Caiet de prenteza</a>
            <a class="navbar-brand" href="http://127.0.0.1:8000/team/">Info</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
          {% if user.is_student %}
              <li class="student-option"><a href="{% url 'users:student_details' %}">Monitorizare Absente</a></li>
          {% endif %}
          {% if user.is_teacher %}
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Caiet prezenta<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'users:addstudents' %}">Validare prezenta</a></li>
                  <li><a href="{% url 'users:list-students' %}">Statistica generala grupe</a></li>
                </ul>
              </li>


          {% endif %}
               {% if user.is_social %}

              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistica prezente<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'users:statisticaGrupe' %}">Statistica pe grupe</a></li>
                  <li><a href="{% url 'users:list-students' %}">Statistica general</a></li>
                </ul>
              </li>


          {% endif %}
            
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_teacher %}
              <li>
                <li><a href="">My Profile</a></li>
              </li>
            {% endif %}
            <li><a href="{% url 'users:logout' %}">{% trans 'Logout' %}</a></li>
          </ul>
        </li>
        </ul>
        </div>
      </div>
    </nav>
{% endif %}
